<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ccheBlog</display-name>
  
  <servlet>
  	<servlet-name>index</servlet-name>
  	<servlet-class>cn.cche.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>index</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>r</filter-name>
  	<filter-class>cn.cche.filter.AppFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  	<init-param>
  		<param-name>ignoreUrls</param-name>
  		<param-value>/mainServlet,.jsp,.html,.htm,.jpg,.pdf,.css,.js,.gif</param-value>
  	</init-param>
  	<init-param>
  		<param-name>needLoginUrls</param-name>
  		<param-value>user/list,user/show,blog/add,blog/show,blog/edit</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>r</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    
  </welcome-file-list>
  
  <jsp-config>
  	<taglib>
  		<taglib-uri>myJstl</taglib-uri>
  		<taglib-location>/WEB-INF/myJstl.tld</taglib-location>
  	</taglib>
  
  </jsp-config>
  
  
</web-app>